{% extends 'base.html' %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
<div class="container news-detail">
    {% if news.image %}
        <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-detail-image">
    {% endif %}
    <div class="news-detail-content">
        <h2 class="news-detail-title">{{ news.title }}</h2>
        <div class="news-detail-meta">Дата публикации: {{ news.created_at|date:"d.m.Y" }}</div>
        <div class="news-detail-text">{{ news.content }}</div>
        <a href="{% url 'news_list' %}" class="main-btn">Вернуться к списку новостей</a>
    </div>
</div>
{% endblock %} 